<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Become</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/" data-text="Awesome" class="button">
          <span class="actual-text">&nbsp;Become&nbsp;</span>
          <span class="hover-text" aria-hidden="true">&nbsp;Become&nbsp;</span>
        </a>
      </h1>
      <h2>A user friedly self help app</h2>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/dashboard">Dashboard</a> |
        <a href="/quotes">Quotes</a> |
        <a href="/goals">Goals</a> |
        <a href="/timecapsule">Time Capsule</a> |
        <button class="no-button" id="logout">logout</button>
        
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
