<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Become</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/quotes.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Become</a>
      </h1>
      <h2>A user friedly self help app</h2>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/dashboard">Dashboard</a> |
        <button class="no-button" id="logout">logout</button>
        <a href="/quotes">Quotes</a>
        <button class="no-button" id="quotes">Quotes</button>
        <a href="/goals">Goals</a>
        <button class="no-button" id="goals">Goals</button>
        <a href="/timecapsule">Time Capsule</a>
        <button class="no-button" id="timecapsule">Time Capsule</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
