<header>Become: Self Help App</header>
<script src="public\js\login.js"></script>

 {{#if logged_in}}
        <div>
          <h1>Welcome, {{name}}</h1>
        </div>

        </div>
          <a href="/quotes" >Quotes</a>
        </div>

        <div>
          <a href="/goals">Goals</a>
        </div>

        <div>
          <a href="/timecapsule">Time Capsule</a>
        </div>

        {{else}}
        <div>
          <h2>Experience the power of "Become" - your ultimate catalyst for personal transformation! 
            Join us now and embark on your journey of self-improvement! 
          </h2>
          <a href="/login">Login/Signup</a>
        </div>
        {{/if}}