<div>
    <h2>Congratulations, your time capsule has been unlocked!</h2>
</div>

<ul>
  <li>
    <h2>{{timeCapsules.title}}</h2>
    <p>{{timeCapsules.description}}</p>
    <p>Created: {{timeCapsules.date_created}}</p>
    <p>End Date: {{timeCapsules.end_date}}</p>
  </li>
</ul>